/* /////////////////////////////  BLOCK CATALOGS START  /////////////////////////////// */

body #main .category-product-section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 378px;
    width: 100%;
    max-width: 1260px;
    justify-content: space-around;
    padding: 10px 0px;
    overflow: hidden;
}

body #main .category-product-section .product {
    padding: 0;
    margin: 0;
    margin: 20px 10px 20px 10px;
    box-sizing: border-box;
    box-shadow: -4px -4px 7px -8px #45698b, 4px 4px 7px -8px #45698b;
    transition: linear 0.5s;
}


/* ================================================================= */

body #main .category-product-section .product-w4x3h270width {
    min-height: 1px;
    width: 270px;
}

body #main .category-product-section .product-w6x7h270width {
    min-height: 1px;
    width: 270px;
}


/* ================================================================ */

body #main .category-product-section .product .block-img {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    /* border-top: 1px solid #e4e4e4; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ================================================================ */

body #main .category-product-section .product .block-img-w4x3h270width {
    height: 205px;
    width: 100%;
}

body #main .category-product-section .product .block-img-w6x7h270width {
    height: 315px;
    width: 100%;
}


/* ================================================================ */

body #main .category-product-section .product .block-img .img {
    height: 100%;
    width: 100%;
    transition: linear 0.5s;
}

body #main .category-product-section .product .block-text {
    background-image: url("../images/fon_parts_three.jpg");
    background-size: cover;
    transition: linear 0.5s;
    width: 100%;
    height: 100px;
    min-height: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body #main .category-product-section .product .block-text .text {
    text-align: center;
    color: #f5f6fa;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    min-height: 15px;
    line-height: 15px;
    letter-spacing: 0px;
    margin: 3px 0px 3px 0px;
    padding: 2px 0px 0px 0px;
    transition: linear 0.5s;
}

body #main .category-product-section .product .block-text .text-sp {
    position: absolute;
    bottom: -18%;
    background-image: url(../images/grg.jpg);
    font-size: 0px;
    padding: 0px 0px;
    width: 0%;
    transition: linear 0.5s;
}

body #main .category-product-section .product:hover {
    box-shadow: -4px -4px 10px -8px #45698b, 4px 4px 10px -8px #45698b;
    transition: linear 0.5s;
}

body #main .category-product-section .product:hover .block-text .text {
    color: #ffd000;
    transition: linear 0.5s;
}

body #main .category-product-section .product:hover .block-text .text-sp {
    position: absolute;
    color: #45698b;
    bottom: -24%;
    background-image: url(../images/grg.jpg);
    background-size: 100% 300%;
    font-size: 14px;
    padding: 3px 0px;
    width: 100%;
    border-bottom: 1px solid #8fbace;
    box-shadow: -4px -4px 10px -6px #45698b, 4px 4px 10px -6px #45698b;
    transition: linear 0.3s;
}


/* /////////////////////////////  BLOCK CATALOGS END  /////////////////////////////// */