/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
} */


/* При расчете размеров инпутов учитываем внутренние отступы и границы */


/* input,
textarea {
    box-sizing: border-box;
} */

body #main .feedback-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /* max-width: 1260px; */
    max-width: 100%;
    padding: 20px 0px 0px 0px;
    margin-bottom: 40px;
    /* background-color: red; */
}


/* Ограничиваем контейнер по ширине 1000px */

body #main .feedback-section .feedback-wrapper .container {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}


/* Стили самой формы */

body #main .feedback-section .feedback-wrapper .container .content {
    display: flex;
    /* делаем колонки в ряд */
    align-items: center;
    /* выравниваем по центру */
    justify-content: space-between;
    /* колонки растянутся на всю ширину */
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}


/* Заголовок правой колонки */

body #main .feedback-section .feedback-wrapper .container .content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}


/* Текст правой колонки */

body #main .feedback-section .feedback-wrapper .container .content .right-side p {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}


/* Контейнер для input'ов формы */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .input-box {
    height: 50px;
    /* по сути задаем высоту input'а */
    width: 100%;
    /* ширина на всю ширину правой колонки (с учетом padding) */
    margin-bottom: 20px;
    /* отступаем снизу 20px */
}


/* Стили для input и textarea (поле сообщение) */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .input-box input,
body #main .feedback-section .feedback-wrapper .container .content .right-side form .input-box textarea {
    height: 100%;
    /* растягиваем на всю высоту контейнера 50px */
    width: 100%;
    /* растягиваем на всю ширину */
    border: none;
    /* убираем внешние края */
    border-radius: 5px;
    /* скругляем края */
    background: #f0f1f8;
    /* задаем цвет фона */
    padding: 0 20px;
    /* отступ справа и слева 20px */
}


/* Отдельно стилизуем поле сообщение */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .input-box textarea {
    resize: none;
    /* чтобы нельзя было менять высоту */
    padding: 20px;
    font-family: "Roboto", sans-serif;
}


/* Это контейнер для поля сообщение */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .message-box {
    min-height: 110px;
    /* минимальная высота 110px */
}


/* Стили для контейнера кнопки */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .button {
    display: inline-block;
    /* делаем блочно-строчный элемент */
}


/* Стили для самой кнопки */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    background: #3e2093;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
    /* чтобы плавно менялся цвет при наведении (:hover) */
}


/* Меняем цвет фона при наведении на кнопку */

body #main .feedback-section .feedback-wrapper .container .content .right-side form .button input[type="button"]:hover {
    background: rgb(0, 0, 207);
}