/* header START ///////////////////////////////////////////////////////////////////////////////////////////////// */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

body header {
    padding: 0;
    margin: 0;
}

body header .block-header-upper-level {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    width: 100%;
    width: 100vw;
    background: #45698b;
    padding: 0px 15px 0px 15px;
}

body header .block-header-upper-level .quick-contact {
    display: flex;
    justify-content: space-between;
    margin-left: -5%;
    min-height: 1px;
}

body header .block-header-upper-level .quick-contact .contact-menu {
    max-width: 530px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

body header .block-header-upper-level .quick-contact .contact-menu .contact-menu-li .contact-menu-a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #f5f6fa;
    text-decoration: none;
    padding: 9px 13px 9px 13px;
    /* transition: linear 0.5s; */
}

body header .block-header-upper-level .quick-contact .contact-menu .contact-menu-li .contact-menu-a:hover {
    /* transition: 0.5s linear; */
    color: #ffd000;
}


/* флаги */


/* ////////////////////////////landug START//////////////////////////////////////////////////////////////// */

body header .block-header-upper-level .language-selection {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header .block-header-upper-level .language-selection .flag {
    width: 67px;
    height: 39px;
    cursor: pointer;
}

body header .block-header-upper-level .language-selection .flag-ua {
    background-image: url('../images/flagua.jpg');
    background-repeat: no-repeat;
    background-size: 65% 65%;
    background-position: 50% 50%;
}

body header .block-header-upper-level .language-selection .flag-ru {
    background-image: url('../images/flagru.jpg');
    background-repeat: no-repeat;
    background-size: 65% 65%;
    background-position: 50% 50%;
}

body header .block-header-upper-level .language-selection .flag-en {
    background-image: url('../images/flageng.jpg');
    background-repeat: no-repeat;
    background-size: 65% 65%;
    background-position: 50% 50%;
}

body header .block-header-upper-level .language-selection .flag:hover {
    background-size: 100%;
}

body header .block-header-upper-level .language-selection .flag-active {
    background-size: 100%;
    border: 1px solid rgba(192, 192, 192, 0.615);
    /* border-radius: 1px; */
    transition: 2.0s linear;
}


/* //////////////////////////////////////////////////////////////////////////////////////// */


/* body header .block-header-upper-level .language-selection {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2px 0px 2px;
}

body header .block-header-upper-level .language-selection input {
    display: none;
}

body header .block-header-upper-level .language-selection input:checked+.label-flagua {
    background-image: url("/images/flagua.jpg");
    background-size: cover;
    border: none;
    padding: 0 5px;
}

body header .block-header-upper-level .language-selection input:checked+.label-flagru {
    background-image: url("/images/flagru.jpg");
    background-size: cover;
    border: none;
    padding: 0 6px;
}

body header .block-header-upper-level .language-selection input:checked+.label-flageng {
    background-image: url("/images/flageng.jpg");
    background-size: cover;
    border: none;
    padding: 0 6px;
}

body header .block-header-upper-level .language-selection input:checked+label {
    color: #f5f6fa;
    font-size: 0px;
}

body header .block-header-upper-level .language-selection label {
    width: 67px;
    height: 39px;
    padding: 0 6px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    margin: -1px 0px 0px 0px;
    transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection .label-flageng {
    background-image: url('../images/flageng.jpg');
    background-repeat: no-repeat;
    background-size: 70% 60%;
    background-position: 55% 50%;
    transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection .label-flagru {
    background-image: url('../images/flagru.jpg');
    background-repeat: no-repeat;
    background-size: 70% 60%;
    background-position: 55% 50%;
    transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection .label-flagua {
    background-image: url('../images/flagua.jpg');
    background-repeat: no-repeat;
    background-size: 70% 60%;
    background-position: 55% 50%;
    transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection label:hover {
    border: none;
    background-size: 100%;
    transition: 0.8s linear;
} */


/* ////////////////////////////landug END//////////////////////////////////////////////////////////////// */


/* body header .block-header-upper-level .language-selection input {
display: none;
}

body header .block-header-upper-level .language-selection input:checked+.label-flagua {
background-image: url("images/flagua.jpg");
background-size: cover;
border: none;
padding: 0 5px;
}

body header .block-header-upper-level .language-selection input:checked+.label-flagru {
background-image: url("images/flagru.jpg");
background-size: cover;
border: none;
padding: 0 6px;
}

body header .block-header-upper-level .language-selection a input:checked+.label-flageng {
background-image: url("images/flageng.jpg");
background-size: cover;
border: none;
padding: 0 6px;
}

body header .block-header-upper-level .language-selection input:checked+label {
color: #f5f6fa;
font-size: 0px;
}

body header .block-header-upper-level .language-selection label {
width: 67px;
height: 39px;
padding: 0 6px;
cursor: pointer;
border-radius: 3px;
display: inline-block;
margin: -1px 0px 0px 0px;
transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection .label-flageng {
background-image: url('images/flageng.jpg');
background-repeat: no-repeat;
background-size: 70% 60%;
background-position: 55% 50%;
transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection .label-flagru {
background-image: url('images/flagru.jpg');
background-repeat: no-repeat;
background-size: 70% 60%;
background-position: 55% 50%;
transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection .label-flagua {
background-image: url('images/flagua.jpg');
background-repeat: no-repeat;
background-size: 70% 60%;
background-position: 55% 50%;
transition: 0.8s linear;
}

body header .block-header-upper-level .language-selection label:hover {
border: none;
background-size: 100%;
transition: 0.8s linear;
} */


/* флаги */

body header .block-header-slider-level {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 370px;
    align-items: center;
    justify-content: center;
    background: #f5f6fa;
}

body header .block-header-slider-level .container-slider {
    margin: 0;
    padding: 0;
    height: 370px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #fcf8ec;
    z-index: 77777;
}

body header .block-header-slider-level .container-slider .photo-slider {
    margin: 0;
    padding: 0;
    position: absolute;
    animation: round 48s infinite;
    opacity: 0;
    overflow: hidden;
    /* */
    object-fit: cover;
    /* */
    width: 100vw;
    height: 370px;
}

@keyframes round {
    13% {
        opacity: 1;
    }
    19% {
        opacity: 0;
    }
}

body header .block-header-slider-level .container-slider img:nth-child(1) {
    animation-delay: 40s;
}

body header .block-header-slider-level .container-slider img:nth-child(2) {
    animation-delay: 32s;
}

body header .block-header-slider-level .container-slider img:nth-child(3) {
    animation-delay: 24s;
}

body header .block-header-slider-level .container-slider img:nth-child(4) {
    animation-delay: 16s;
}

body header .block-header-slider-level .container-slider img:nth-child(5) {
    animation-delay: 8s;
}

body header .block-header-slider-level .container-slider img:nth-child(6) {
    animation-delay: 0S;
}

body header .block-header-slider-level .container-slider #logo {
    margin-left: 20px;
    margin-top: -10px;
    position: relative;
    z-index: 88888;
}

body header .block-header-slider-level .container-slider #logo a {
    text-decoration: none;
    cursor: pointer;
}

body header .block-header-slider-level .container-slider #logo a .block-logo {
    padding: 0;
    margin: 0;
    max-width: 350px;
    height: 175px;
    margin: 100px 0px 0 0px;
    background-image: url('../images/11-aaa-waaa.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body header .block-header-slider-level .container-slider #logo a .block-logo .block-logo-text {
    position: absolute;
    max-width: 350px;
    height: 22px;
    line-height: 22px;
    margin-top: 177px;
    margin-left: 4px;
    padding: 0px 3px 0px 3px;
    border-radius: 3px;
    /* background: #dcdde1; */
}

body header .block-header-slider-level .container-slider #logo a .block-logo .block-logo-text .logo-text {
    color: rgb(151, 150, 150);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    transform: scale(1.0, 1.5);
}

body header .block-header-menu-level {
    padding: 0;
    margin: 0;
    display: flex;
    height: 50px;
    width: 100%;
    max-width: 1260px;
    justify-content: space-around;
    background: #45698b;
    margin: 0 auto;
}

body header .block-header-menu-level .menu-section {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    height: 50px;
    width: 100%;
    max-width: 1260px;
    z-index: 44444;
}

body header .block-header-menu-level .menu-section .dws-menu * {
    margin: 0;
    padding: 0;
}

body header .block-header-menu-level .menu-section .dws-menu [type="checkbox"],
body header .block-header-menu-level .menu-section .dws-menu label.toggleSubmenu {
    /* концовка кода  меню начало*/
    display: none;
}

body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu {
    /* концовка кода  меню начало*/
    background: #45698b;
    display: none;
    padding: 10px 40px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    color: #f5f6fa;
}

body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu .fa {
    /* концовка кода  меню начало*/
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 18px;
}

body header .block-header-menu-level .menu-section .dws-menu ul,
body header .block-header-menu-level .menu-section .dws-menu ol {
    list-style: none;
}

body header .block-header-menu-level .menu-section .dws-menu>ul {
    display: flex;
    justify-content: space-between;
}

body header .block-header-menu-level .menu-section .dws-menu>ul li a {
    display: block;
    background: #45698b;
    /* 1 уровень фон */
    color: #f5f6fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /*1 уровень шрифт*/
    letter-spacing: 0px;
    word-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s linear;
    height: 50px;
    min-width: 150px;
    line-height: 50px;
    text-align: center;
}

body header .block-header-menu-level .menu-section .dws-menu>ul li {
    position: relative;
}

body header .block-header-menu-level .menu-section .dws-menu>ul li>a .fas {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 18px;
    padding: 5px 0px 5px 0px;
    display: none;
}

body header .block-header-menu-level .menu-section .dws-menu ul li a:hover {
    color: #ffd000;
    transition: 0.5s linear;
}

body header .block-header-menu-level .menu-section .dws-menu li ul {
    position: absolute;
    min-width: 250px;
    display: none;
}

body header .block-header-menu-level .menu-section .dws-menu li>ul li {
    border: 1px solid #b8b8b8;
}

body header .block-header-menu-level .menu-section .dws-menu li>ul li a {
    background: #5b8ab6;
    /* 2 уровень фон */
    text-transform: uppercase;
    color: #f5f6fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /*2 уровень шрифт*/
    text-decoration: none;
    padding-left: 5px;
    padding-right: 2px;
    margin: 0px 0px;
    text-align: center;
}

body header .block-header-menu-level .menu-section .dws-menu li>ul li ul {
    position: absolute;
    right: -250px;
    top: 0;
}

body header .block-header-menu-level .menu-section .dws-menu li:hover>ul {
    display: block;
}

body header .block-header-menu-level .menu-section .dws-menu li>ul li ul li a {
    background: #84c4ff;
    /* 3 уровень вон */
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

body header .block-header-menu-level .menu-section .dws-menu li>ul li ul li a:hover {
    background: #c8e5ff;
    color: #222222;
}

body header .block-header-menu-level::after {
    content: "";
    width: 100vw;
    height: 50px;
    background: #45698b;
    position: absolute;
}


/* header END ///////////////////////////////////////////////////////////////////////////////////////////// */