/* helpful START ///////////////////////////////////////////////////////////////////////////////////////////// */

body #main .helpful {
    padding: 0;
    margin: 0;
    /*  */
    min-height: 120px;
    width: 100%;
    max-width: 1260px;
    /*  */
}

body #main .helpful .helpful-section {
    padding: 10px 10px 40px 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /*  */
    min-width: 300px;
    /*  */
    justify-content: space-around;
    align-items: center;
}

body #main .helpful .helpful-section .helpful-section-menu {
    margin: 10px 5px 0px 5px;
    min-height: 120px;
    max-width: 360px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: content-box;
    transition: linear 0.5s;
    align-self: flex-start;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block-img {
    background: rgb(0, 255, 76);
    height: 200px;
    max-width: 360px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block-img .helpful-menu-img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block .menu-text-one {
    color: #222222;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: center;
    /* padding: 10px; */
    transition: linear 0.5s;
    position: relative;
    border-bottom: 2px solid #45698b;
    margin: 15px 0px;
    padding-bottom: 5px;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block .menu-text-one::before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 2px solid #ffd000;
    position: absolute;
    left: 0;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block ul li {
    margin-bottom: 2px;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block ul li a {
    text-align: center;
    color: #222222;
    /* text-transform: uppercase; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-align: left;
    transition: linear 0.5s;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block ul li a span {
    color: #45698b;
    font-size: 18px;
    position: absolute;
    margin-top: -2px;
}

body #main .helpful .helpful-section .helpful-section-menu .menu-wrapper .menu-block ul li a:hover span {
    font-size: 24px;
    color: rgb(220, 190, 20);
    margin-top: -5px;
}


/* helpful END /////////////////////////////////////////////////////////////////////////////////////////////// */