@media (min-width: 540px) and (max-width: 760px) {
    body .footer .container .box {
        margin: 0px 0px;
        padding: 5px 10px;
    }
    body .footer .container .box h4 {
        font-size: 17px;
    }
    body .footer .container .box p {
        font-size: 15px;
    }
    body .footer .container .box .social a {
        font-size: 15px;
    }
    body .footer .container .box .social a i {
        font-size: 25px;
    }
    body .footer .container .box .address a {
        font-size: 15px;
    }
    body .footer .container .box .address a i {
        font-size: 25px;
    }
    body .footer .container .box .address a {
        font-size: 15px;
    }
    body .footer .container .box form input,
    body .footer .container .box form textarea {
        font-size: 15px;
    }
    body .footer .container .box form label {
        font-size: 15px;
    }
    body .footer .container .box form button {
        font-size: 15px;
    }
    body .footer .author {
        font-size: 15px;
    }
}

@media all and (max-width: 539px) {
    body .footer .container .box {
        margin: 0px 0px;
        padding: 5px 10px;
    }
    body .footer .container .box h4 {
        font-size: 15px;
    }
    body .footer .container .box p {
        font-size: 13px;
    }
    body .footer .container .box .social a {
        font-size: 13px;
    }
    body .footer .container .box .social a i {
        font-size: 23px;
    }
    body .footer .container .box .address a {
        font-size: 13px;
    }
    body .footer .container .box .address a i {
        font-size: 23px;
    }
    body .footer .container .box .address a {
        font-size: 13px;
    }
    body .footer .container .box form input,
    body .footer .container .box form textarea {
        font-size: 13px;
    }
    body .footer .container .box form label {
        font-size: 13px;
    }
    body .footer .container .box form button {
        font-size: 13px;
    }
    body .footer .author {
        font-size: 13px;
    }
}