    @media (min-width: 0px) and (max-width: 650px) {
        body header .block-header-summit-level {
            flex-direction: column;
            justify-content: center;
            padding: 0px 0px;
        }
        body header .block-header-summit-level .language {
            width: 100%;
        }
        body header .block-header-summit-level .language .language-wrapper {
            height: 52px;
        }
        body header .block-header-summit-level .contact-menu {
            width: 100%;
        }
        body header .block-header-summit-level .contact-menu .contact {
            justify-content: center;
            padding-right: 0px;
        }
    }
    
    @media (min-width: 0px) and (max-width: 768px) {
        body header .block-header-summit-level {
            padding: 0px 0px;
        }
        body header .block-header-summit-level .contact-menu .menu {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            z-index: 200000;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper {
            /* margin: 200px auto; */
            /* width: 320px; */
            width: 100%;
            background-color: #000;
            background-color: #45698b;
            position: relative;
            text-align: center;
            height: 40px;
            /* z-index: 200000; */
            /* идекс надо */
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper #check-menu {
            display: none;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            /* z-index: 200000; */
            /* идекс надо */
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
            color: #f5f6fa;
            text-align: right;
            padding-right: 45px;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper label:hover {
            color: #ffd000;
            transition: all 0.5s;
        }
        /* ******************* */
        body header .block-header-summit-level .contact-menu .menu .wrapper label .burger-line {
            position: absolute;
            top: 8px;
            right: 15px;
            width: 18px;
            height: 2px;
            background-color: #fff;
            transition: all 0.5s;
            /*  */
            /* cursor: pointer; */
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper label:hover .burger-line {
            background-color: #ffd000;
            transition: all 0.5s;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper label .second,
        body header .block-header-summit-level .contact-menu .menu .wrapper label .third {
            top: 18px;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper label .first {
            top: 11px;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper label .fourth {
            top: 25px;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper .main-menu {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            max-height: 0;
            font-size: 0;
            overflow: hidden;
            transition: all 0.5s;
            z-index: 200000;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper .main-menu a {
            display: block;
            width: 100%;
            /* padding: 10px; */
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
            color: #f5f6fa;
            text-decoration: none;
            border-top: 1px solid rgba(240, 240, 240, 0.3);
            border-bottom: 1px solid #000;
            /* background-color: black; */
            background-color: #45698b;
            opacity: 1;
            z-index: 200000;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper .main-menu a:hover {
            border-bottom: 1px solid #000;
            transition: 0.5s linear;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper #check-menu:checked~.main-menu {
            max-height: 500px;
            font-size: 16px;
            /* background-color: #000; */
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper #check-menu:checked~label .first {
            display: none;
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper #check-menu:checked~label .second {
            transform: rotate(45deg);
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper #check-menu:checked~label .third {
            transform: rotate(-45deg);
        }
        body header .block-header-summit-level .contact-menu .menu .wrapper #check-menu:checked~label .fourth {
            display: none;
        }
    }
    /* start -------------------------------------------  slider  ----------------------------------------------- */
    
    @media (min-width: 769px) and (max-width: 991px) {
        body header .block-header-slider-level .container-slider {
            height: 220px;
        }
    }
    
    @media (min-width: 0px) and (max-width: 768px) {
        body header .block-header-slider-level .container-slider {
            height: 180px;
        }
    }
    
    @media (min-width: 751px) and (max-width: 768px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 102.5vw;
            height: 110%;
        }
    }
    
    @media (min-width: 701px) and (max-width: 750px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 105vw;
            height: 109%;
        }
    }
    
    @media (min-width: 651px) and (max-width: 700px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 107.5vw;
            height: 108%;
        }
    }
    
    @media (min-width: 601px) and (max-width: 650px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 110vw;
            height: 107%;
        }
    }
    
    @media (min-width: 551px) and (max-width: 600px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 112.5vw;
            height: 106%;
        }
    }
    
    @media (min-width: 501px) and (max-width: 550px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 115vw;
            height: 105%;
        }
    }
    
    @media (min-width: 451px) and (max-width: 500px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 117.5vw;
            height: 104%;
        }
    }
    
    @media (min-width: 401px) and (max-width: 450px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 120vw;
            height: 103%;
        }
    }
    
    @media (min-width: 351px) and (max-width: 400px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 122.5vw;
            height: 102%;
        }
    }
    
    @media (min-width: 321px) and (max-width: 350px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 125vw;
            height: 101%;
        }
    }
    
    @media (min-width: 0px) and (max-width: 320px) {
        body header .block-header-slider-level .container-slider .photo-slider {
            width: 127.5vw;
            height: 100%;
        }
    }
    
    @media (min-width: 0px) and (max-width: 768px) {
        body header .block-header-slider-level #logo {
            padding-left: 10px;
        }
        body header .block-header-slider-level #logo a .block-logo .block-logo-img {
            max-width: 280px;
            height: 115px;
        }
        body header .block-header-slider-level #logo a .block-logo .block-logo-text {
            max-width: 280px;
            height: 20px;
            line-height: 20px;
        }
        body header .block-header-slider-level #logo a .block-logo .block-logo-text .logo-text {
            font-size: 12.4px;
        }
    }
    /* end -----------------------------------------  slider  -------------------------------------------------- */
    
    @media (min-width: 769px) {
        body header .block-header-menu-level .menu-section .dws-menu {
            max-width: 1260px;
        }
        /*  */
        body header .block-header-menu-level .menu-section .dws-menu ul {
            display: flex;
            justify-content: space-between;
            /* justify-content: flex-start; */
        }
        /*  */
        body header .block-header-menu-level .menu-section .dws-menu ul li a {
            text-decoration: none;
            color: #f5f6fa;
            transition: all 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li a:hover {
            color: #ffd000;
            background: #5b8ab6;
            /* background: red; */
            transition: all 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul {
            width: 1260px;
            min-height: 150px;
            /* высота блока выезд */
            position: absolute;
            background: #5b8ab6;
            transition: 0.3s;
            /* отступы по периметру блока выезд */
            margin: 0px 0px 0px 0px;
            padding: 50px 15px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li ul li {
            /* float: left; */
            padding: 0px 10px 0px 10px;
            /* отступы между блоками блока выезд */
            border: none;
            /* margin: auto; */
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-one {
            margin-left: 0px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-two {
            margin-left: -276px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-three {
            margin-left: -554px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-four {
            margin-left: -831px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-five {
            margin-left: -1109px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li ul li a {
            width: 270px;
            height: 34px;
            text-transform: uppercase;
            color: #f5f6fa;
            /* color: #000; */
            /* font-size: 17px; */
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-align: left;
            padding: 0px 0px 0px 0px;
            line-height: 34px;
            background: #5b8ab6;
            border-bottom: 1px solid #f5f6fa;
            transition: 0.7s linear;
            /* блоки в всплывающем  блоке выезд */
            /* background: #45698b; */
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li ul li a:hover {
            color: #ffd000;
            transition: 0.7s linear;
        }
    }
    /*  */
    
    @media (min-width: 769px) and (max-width: 1260px) {
        body header .block-header-menu-level .menu-section .dws-menu>ul {
            display: flex;
            /* justify-content: space-between; */
            justify-content: flex-start;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul .level-li-one {
            border-left: 1px solid #f5f6fa;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul .level-li {
            border-right: 1px solid #f5f6fa;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul {
            width: 100vw;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-one {
            margin-left: -1px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-two {
            margin-left: -152px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-three {
            margin-left: -303px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-four {
            margin-left: -454px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li .sublevel-ul-five {
            margin-left: -605px;
        }
    }
    
    @media all and (max-width: 768px) {
        body header .block-header-menu-level .menu-section {
            padding: 0;
        }
        body header .block-header-menu-level .menu-section .dws-menu {
            overflow: hidden;
        }
        body header .block-header-menu-level .menu-section .dws-menu input.toggleMenu {
            display: none;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu {
            padding: 0;
            margin: 0;
            padding-left: 45px;
            height: 50px;
            line-height: 50px;
            /* меню */
            background: #45698b;
            cursor: pointer;
            position: relative;
            transition: linear 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu .toggleMenu:hover {
            color: #ffd000;
            transition: linear 0.5s;
        }
        /* START BURGER ********************************************************************************* */
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu .burger-line {
            margin: 0;
            padding: 0;
            position: absolute;
            /* top: 8px; */
            left: 15px;
            width: 18px;
            height: 2px;
            background-color: #f5f6fa;
            transition: all 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu:hover .burger-line {
            background-color: #ffd000;
            transition: all 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu .second,
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu .third {
            top: 18px;
            top: 24px;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu .first {
            top: 11px;
            top: 17px;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu .fourth {
            top: 25px;
            top: 31px;
        }
        body header .block-header-menu-level .menu-section .dws-menu #menu:checked~label.toggleMenu .first {
            display: none;
        }
        body header .block-header-menu-level .menu-section .dws-menu #menu:checked~label.toggleMenu .second {
            transform: rotate(45deg);
        }
        body header .block-header-menu-level .menu-section .dws-menu #menu:checked~label.toggleMenu .third {
            transform: rotate(-45deg);
        }
        body header .block-header-menu-level .menu-section .dws-menu #menu:checked~label.toggleMenu .fourth {
            display: none;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu p {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 17px;
            color: #f5f6fa;
        }
        /* END BURGER ************************************************************************************** */
        body header .block-header-menu-level .menu-section .dws-menu ul {
            display: block;
            max-height: 0;
            transition: max-height 0.3s;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li a {
            border-bottom: 2px solid #f5f6fa;
            /* 1 уровень */
            text-align: left;
            padding-left: 15px;
            height: 40px;
            line-height: 40px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 17px;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li ul li a {
            border-bottom: 2px solid #f5f6fa;
            /* 2уровень */
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu {
            display: block;
        }
        body header .block-header-menu-level .menu-section .dws-menu input.toggleMenu:checked+label.toggleMenu {
            color: #f5f6fa;
            background: #314b62;
            /* уровень само меню */
            border-bottom: 2px solid #f5f6fa;
            transition: linear 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleMenu:hover p {
            color: #ffd000;
            transition: linear 0.5s;
        }
        body header .block-header-menu-level .menu-section .dws-menu input.toggleMenu:checked~ul {
            display: block;
            position: relative;
            max-height: 10000px;
            transition: max-height 2s ease-in;
        }
        body header .block-header-menu-level .menu-section .dws-menu input.toggleSubmenu:checked~ul {
            display: block;
            position: relative;
            max-height: 10000px;
            min-height: 1px;
            transition: max-height 2s ease-in;
        }
        body header .block-header-menu-level .menu-section .dws-menu label.toggleSubmenu {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: block;
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li input.toggleSubmenu:checked~a {
            color: #ffd000;
            background: #45698b;
            text-align: center;
            /* 1 уровень при клике */
        }
        body header .block-header-menu-level .menu-section .dws-menu ul li ul li input.toggleSubmenu:checked~a {
            background: #5b8ab6;
            color: #ffd000;
            text-align: center;
            /* 2 уровень при клике */
        }
    }