/* //////////////////////// MEDIA BLOCK DESCRIPTION START ///////////////////////*/

@media (min-width: 481px) and (max-width: 768px) {
    body #main .discription-section .dsn .title-line-one {
        font-size: 25px;
    }
    body #main .discription-section .dsn .title-line-two {
        font-size: 25px;
    }
    body #main .discription-section .dsn .title-shadow-one {
        font-size: 25px;
    }
    body #main .discription-section .dsn .title-shadow-two {
        font-size: 25px;
    }
    body #main .discription-section .dsn .text-line {
        font-size: 15px;
    }
}

@media all and (max-width: 480px) {
    body #main .discription-section .dsn .title-line-one {
        font-size: 20px;
    }
    body #main .discription-section .dsn .title-line-two {
        font-size: 20px;
    }
    body #main .discription-section .dsn .title-shadow-one {
        font-size: 20px;
    }
    body #main .discription-section .dsn .title-shadow-two {
        font-size: 20px;
    }
    body #main .discription-section .dsn .text-line {
        font-size: 14px;
    }
}


/* //////////////////////////  MEDIA BLOCK DESCRIPTION END  /////////////////////// */