@media (min-width: 481px) and (max-width: 768px) {
    body .footer .container .box {
        height: 365px;
    }
    body .footer .container .box h4 {
        font-size: 18px;
    }
    /* 1 */
    body .footer .container .box .info .text-info {
        font-size: 14px;
    }
    /* 2 */
    body .footer .container .box .address a .fas {
        font-size: 26px;
    }
    body .footer .container .box .address a p {
        font-size: 16px;
    }
    /* 3 */
    body .footer .container .box form input,
    body .footer .container .box form textarea {
        font-size: 16px;
    }
    body .footer .container .box form label p {
        font-size: 16px;
    }
    body .footer .container .box form button {
        font-size: 16px;
    }
    body .footer .author {
        font-size: 16px;
    }
}

@media (min-width: 300px) and (max-width: 480px) {
    body .footer .container .box {
        min-width: 280px;
        height: 360px;
    }
    body .footer .container .box h4 {
        font-size: 17px;
    }
    /* 1 */
    body .footer .container .box .info .text-info {
        font-size: 13px;
    }
    /* 2 */
    body .footer .container .box .address a .fas {
        font-size: 25px;
    }
    body .footer .container .box .address a p {
        font-size: 15px;
    }
    /* 3 */
    body .footer .container .box form input,
    body .footer .container .box form textarea {
        font-size: 15px;
    }
    body .footer .container .box form label p {
        font-size: 15px;
    }
    body .footer .container .box form button {
        font-size: 15px;
    }
    body .footer .author {
        font-size: 15px;
    }
}