 /* START 999999999999999999999999999999999999 модальное окно с формой 9999999999999999999999999999999 */
 /*  */
 /* класс  _locked сделан для body модальное окно */
 
 ._locked {
     overflow: hidden;
 }
 
 body #main .modal-form-section {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 1px;
 }
 /* кнопка */
 /* body #main .modal-section .modal__btn {
        border: none;
        background-color: rgb(234, 36, 36);
        padding: 5px 10px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        cursor: pointer;
    }
    
    body #main .modal-section .modal__btn img {
        width: 10px;
        height: 10px;
    } */
 /* кнопка */
 
 body #main .modal-form-section ._modal {
     width: 100%;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100000;
     visibility: hidden;
     opacity: 0;
     transition: all 0.3s;
     pointer-events: none;
 }
 
 body #main .modal-form-section ._active {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
 }
 
 body #main .modal-form-section ._modal .modal-bg {
     width: 100%;
     height: 100%;
     background-color: rgb(59, 59, 59);
     display: flex;
     padding: 20px;
     opacity: 0.97;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body {
     padding: 24px;
     background-color: rgb(245, 245, 245);
     width: 700px;
     margin: auto;
     max-height: 90%;
     overflow: auto;
     border-radius: 0px;
     position: relative;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-close {
     position: absolute;
     top: 8px;
     right: 7px;
     cursor: pointer;
     width: 15px;
     height: 15px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-close img {
     width: 15px;
     height: 15px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container {
     width: 100%;
     max-width: 1000px;
     padding: 0 20px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: #fff;
     padding: 40px;
     border-radius: 5px;
     box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side {
     width: 25%;
     height: 100%;
     position: relative;
     display: flex;
     flex-direction: column;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side::before {
     content: "";
     position: absolute;
     height: 70%;
     width: 2px;
     background: #afafb6;
     right: -15px;
     top: 50%;
     transform: translateY(-50%);
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side {
     width: 75%;
     margin-left: 75px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side .details {
     margin-bottom: 15px;
     text-align: center;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side .details i {
     font-size: 25px;
     color: #3e2093;
     margin-bottom: 10px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side .details .topic {
     font-size: 18px;
     font-weight: 500;
     margin-bottom: 7px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side .details .text-one,
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .left-side .details .text-two {
     font-size: 14px;
     color: #afafb6;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side .topic-text {
     font-size: 23px;
     font-weight: 600;
     color: #3e2093;
     margin-bottom: 10px;
     font-family: 'Roboto', sans-serif;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side p {
     margin-bottom: 20px;
     font-family: 'Roboto', sans-serif;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .input-box {
     height: 50px;
     width: 100%;
     margin-bottom: 30px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .input-box input,
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .input-box textarea {
     height: 100%;
     width: 100%;
     border: none;
     border-radius: 5px;
     background: #f0f1f8;
     padding: 0 20px;
     margin-bottom: 3px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .input-box label {
     font-size: 14px;
     color: #afafb6;
     padding-left: 5px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .input-box textarea {
     resize: none;
     padding: 20px;
     font-family: "Roboto", sans-serif;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .file-box input {
     /* display: flex;
     align-items: center;
     justify-content: center; */
     padding: 15px;
     font-size: 16px;
     font-weight: 400;
     color: #009d03;
     font-family: 'Roboto', sans-serif;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .message-box {
     min-height: 110px;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .button {
     display: inline-block;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .button input[type="submit"] {
     color: #fff;
     font-size: 18px;
     background: #3e2093;
     outline: none;
     border: none;
     padding: 10px 20px;
     border-radius: 7px;
     transition: 0.2s;
 }
 
 body #main .modal-form-section ._modal .modal-bg .modal-body .modal-content .modal-cotainer .container .content .right-side form .button input[type="submit"]:hover {
     background: rgb(0, 0, 207);
 }
 /* END 999999999999999999999999999999999999 модальное окно с формой 9999999999999999999999999999999 */