body #main .pagination-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    max-width: 1260px;
    padding: 15px 0px 15px 0px;
    margin-bottom: 30px;
}

body #main .pagination-section .pagination-wrapper .pagination {
    width: 100%;
    display: flex;
}

body #main .pagination-section .pagination-wrapper .pagination div {
    display: inline-block;
}

body #main .pagination-section .pagination-wrapper .pagination .page {
    color: #45698b;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 3px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

body #main .pagination-section .pagination-wrapper .pagination .prev-next {
    box-sizing: border-box;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 3px;
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    background: #45698b;
    color: rgb(255, 255, 255);
}

body #main .pagination-section .pagination-wrapper .pagination .prev-next:hover {
    color: #ffd000;
}

body #main .pagination-section .pagination-wrapper .pagination .disable:hover {
    color: #5aaaf5;
}