    body #main .product-card-section {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        /* max-width: 1260px; */
        max-width: 100%;
        padding: 20px 0px 0px 0px;
        margin-bottom: 40px;
        /* background-color: red; */
    }
    
    body #main .product-card-section .single-goods {
        width: 100%;
        background-image: url(../images/grg.jpg);
        background-size: 100% 100%;
    }
    /*  */
    
    body #main .product-card-section .single-goods .container-headline {
        max-width: 100%;
        display: flex;
        /* background-color: #e69df0; */
        /* margin-bottom: 20px; */
        padding: 10px;
        /* background-image: url(../images/grg.jpg);
        background-size: 100% 100%; */
        /* background-color: rgb(226, 226, 226); */
        /* border: 1px solid grey; */
    }
    
    body #main .product-card-section .single-goods .container-headline .headline-wrapper {
        min-height: 60px;
        width: 100%;
        /* background-color: #9df0a1; */
    }
    
    body #main .product-card-section .container-headline .headline-wrapper .text-h1 {
        color: #3b63ae;
        /* color: #f5f6fa; */
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        height: 60px;
        line-height: 60px;
        padding: 0px 10px;
        word-spacing: 5px;
    }
    /*  */
    
    body #main .product-card-section .single-goods .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: rgb(226, 226, 226); */
        /* border: 1px solid grey; */
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper {
        /* background-color: rgb(42, 24, 202); */
        width: 66.6%;
        padding: 10px;
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left {
        min-height: 1px;
        /* background-color: rgb(225, 110, 110); */
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-max {
        display: flex;
        justify-content: center;
        min-width: 1px;
        min-height: 1px;
        /* background-color: rgb(255, 255, 255); */
        border: 5px solid rgb(255, 255, 255);
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-max img {
        width: 100%;
        height: 100%;
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-min {
        padding: 10px 10px;
        min-width: 150px;
        min-height: 100px;
        /* background-color: rgb(161, 161, 161); */
        display: flex;
        margin-top: 10px;
        border: 5px solid rgb(255, 255, 255);
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-min div {
        width: 150px;
        min-height: 1px;
        cursor: pointer;
        display: block;
        margin: auto 5px;
        border: 1px solid #4f97db;
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-min div .goods-min {
        width: 100%;
        display: block;
        margin: auto;
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-min div:hover {
        border: 1px solid #ffd000
        /* background-color: yellow; */
    }
    
    body #main .product-card-section .single-goods .container .goods-left-wrapper .single-goods-left .goods-img-min .active {
        /* background-color: rgb(255, 0, 0); */
        border: 1px solid rgb(255, 0, 0);
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper {
        /* background-color: rgb(199, 179, 52); */
        width: 33.3%;
        padding: 10px;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right {
        min-height: 1px;
        /* background-color: rgb(250, 250, 250); */
        padding: 10px 10px;
    }
    /*  */
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .block-purpose .purpose-wrapper {
        display: flex;
        align-items: center;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .block-purpose .purpose-wrapper .block {
        margin: 2px 2px;
        /* background-color: aqua; */
        min-height: 30px;
        display: flex;
        align-items: center;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .block-purpose .purpose-wrapper .block-img {
        margin: 0px 2px;
        /* background-color: rgb(123, 255, 0); */
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .block-purpose .purpose-wrapper .block-img img {
        height: 60%;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .block-purpose .purpose-wrapper .block .text {
        color: #808080;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        /* min-height: 20px;
        line-height: 20px;
        padding: 5px 5px; */
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .help-pdf {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-top: 1px solid rgb(165, 165, 164);
        /* background-color: rgb(231, 231, 231); */
        margin-top: 20px;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .help-pdf .help-wrapper {
        display: flex;
        justify-content: center;
        border: 1px solid #45698b;
        /* background-color: rgb(231, 231, 231); */
        padding: 2px 2px;
        margin: 10px 0px;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .help-pdf .help {
        height: 60px;
        min-width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .help-pdf .help img {
        height: 100%;
        border: 1px solid #f5f6fa;
        border-radius: 3px;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .help-pdf .help a {
        width: 230px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background: #45698b;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #f5f6fa;
        border: 1px solid #f5f6fa;
        border-radius: 2px;
        cursor: pointer;
        transition: linear 0.5s;
    }
    
    body #main .product-card-section .single-goods .container .goods-right-wrapper .single-goods-right .help-pdf .help a:hover {
        color: #ffd000;
        transition: linear 0.5s;
    }