body #main .helpful {
    padding: 0;
    margin: 0;
}

body #main .helpful .helpful-description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 1px;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    justify-content: center;
}

body #main .helpful .helpful-description .helpful-block-linear {
    margin: 0px 0px 30px 0px;
    height: 3px;
    width: 90%;
    background: #dcdde1;
}

body #main .helpful .helpful-description .helpful-title {
    color: #222222;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 10px;
    text-align: center;
    margin-top: -10px;
    border-bottom: 3px solid #45698b;
    position: relative;
}

body #main .helpful .helpful-description .helpful-title::before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 3px solid #ffd000;
    position: absolute;
}

body #main .helpful .helpful-description .helpful-text {
    color: #222222;
    text-indent: 30px;
    padding: 20px 40px 0px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    margin: 0px 0px 0px 0px;
    text-align: justify;
}

body #main .helpful .helpful-section {
    padding: 10px 10px 40px 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 120px;
    width: 100%;
    max-width: 1260px;
    justify-content: space-around;
    align-items: center;
}

body #main .helpful .helpful-section .helpful-section-menu {
    height: 100px;
    max-width: 185px;
    margin: 20px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 7px #96b5cc;
    box-sizing: content-box;
    transition: linear 0.5s;
}

body #main .helpful .helpful-section .helpful-section-menu a {
    text-decoration: none;
}

body #main .helpful .helpful-section .helpful-section-menu a .menu-block-img {
    height: 75px;
    width: 185px;
    display: inline-block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /*центрируем элемент по горизонтали */
    align-items: center;
    /* и вертикали */
}

body #main .helpful .helpful-section .helpful-section-menu a .menu-block-img .helpful-menu-img {
    height: 75px;
    height: 100%;
    padding-top: 4px;
    object-fit: cover;
    transform: scaleX(1);
    display: block;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 0.5s;
    transition: linear 0.5s;
}

body #main .helpful .helpful-section .helpful-section-menu a .menu-block-text {
    height: 20px;
    max-width: 185px;
    margin-top: 0px;
    line-height: 20px;
    margin-top: 5px;
}

body #main .helpful .helpful-section .helpful-section-menu a .menu-block-text .helpful-menu-text {
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;
    transition: linear 0.5s;
}

body #main .helpful .helpful-section .helpful-section-menu:hover {
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.3), -23px 0 20px -28px rgba(0, 0, 0, 0.6), 23px 0 20px -28px rgba(0, 0, 0, 0.6), inset 0px 0px 140px #003c6d;
    box-sizing: content-box;
    transition: linear 0.5s;
}

body #main .helpful .helpful-section .helpful-section-menu:hover a .menu-block-text .helpful-menu-text {
    color: #f5f6fa;
    transition: linear 0.5s;
}

body #main .helpful .helpful-section .helpful-section-menu:hover a .menu-block-img .helpful-menu-img {
    transform: scale(1.08);
    transition: all 0.5s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    transition: linear 0.5s;
}