/*  */

body #general-sider {
    background-color: #fbc71c;
    min-height: 1px;
}

body #general-sider section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

body #general-sider section .aaa {
    width: 100%;
    height: 100px;
}

body #general-sider section .block1_s2 {
    width: 100vw;
    height: 14vh;
    padding: 0px 15px;
    z-index: 1000;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body #general-sider section .block1_s2 h1 {
    font-weight: bold;
    color: black;
}

body #general-sider section .block1_s2 p {
    line-height: 1.6em;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0;
}

body #general-sider section .block1_s2 p:last-child {
    margin-bottom: 0px;
}

body #general-sider section .block2_s2 {
    width: 100%;
    background: wheat;
    padding: 0px 0px;
}

body #general-sider section .block2_s2 .thumbnail-slider {
    width: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #527708;
}

body #general-sider section .block2_s2 .thumbnail-slider .thumbnail-container {
    width: 100%;
    background: blue;
    float: left;
    box-sizing: border-box;
}

body #general-sider section .block2_s2 .thumbnail-slider .thumbnail-container .item {
    height: 250px;
    background-color: grey;
    line-height: 250px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    float: left;
    box-sizing: border-box;
}

body #general-sider section .block2_s2 .thumbnail-slider .controls {
    width: 100%;
    float: left;
    padding: 15px;
}

body #general-sider section .block2_s2 .thumbnail-slider .controls ul {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

body #general-sider section .block2_s2 .thumbnail-slider .controls ul li {
    height: 35px;
    width: 35px;
    border: 1px solid #c3c3c3;
    margin: 4px;
    display: inline-block;
    line-height: 33px;
    cursor: pointer;
    color: #ffffff;
}

body #general-sider section .block2_s2 .thumbnail-slider .controls ul li.active {
    background-color: #43b8b2;
}


/*  */

body #main .page-general {
    padding: 0;
    margin: 0;
}

body #main .page-general .content1-description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    justify-content: center;
}

body #main .page-general .content1-description .content1-block-linear {
    height: 3px;
    width: 90%;
    background: #dcdde1;
    margin: 0px 0px 30px 0px;
}

body #main .page-general .content1-description .content1-description-title {
    color: #222222;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: center;
    padding-top: 0px;
    border-bottom: 3px solid #45698b;
    position: relative;
}

body #main .page-general .content1-description .content1-description-title::before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 3px solid #ffd000;
    position: absolute;
}

body #main .page-general .content1-description .content1-description-text {
    color: #222222;
    text-indent: 30px;
    padding: 20px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    margin: 0px 0px -15px 0px;
    padding-bottom: 40px;
    text-align: justify;
}

body #main .page-general .content2-catalog {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 740px;
    width: 100%;
    max-width: 1260px;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    overflow: hidden;
}

body #main .page-general .content2-catalog .content2-catalog-section {
    padding: 0;
    margin: 0;
    height: 324px;
    width: 195px;
    margin: 20px 15px 25px 15px;
    box-shadow: 7px 7px #dddddd;
    transition: linear 0.5s;
}

body #main .page-general .content2-catalog .content2-catalog-section a {
    text-decoration: none;
}

body #main .page-general .content2-catalog .content2-catalog-section a .catalog-block-img {
    height: 295px;
    width: 195px;
    display: inline-block;
    overflow: hidden;
}

body #main .page-general .content2-catalog .content2-catalog-section a .catalog-block-img .content2-catalog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transition: linear 0.5s;
}

body #main .page-general .content2-catalog .content2-catalog-section a .catalog-block-text {
    height: 29px;
    width: 195px;
    background-image: url("images/fon_parts_three.jpg");
    background-size: cover;
    margin-top: -4px;
    line-height: 29px;
    transition: linear 0.5s;
}

body #main .page-general .content2-catalog .content2-catalog-section a .catalog-block-text .content2-catalog-text {
    text-align: center;
    color: #f5f6fa;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    transition: linear 0.5s;
}

body #main .page-general .content2-catalog .content2-catalog-section:hover {
    box-shadow: 1px 1px #c7c7c7;
    transition: linear 0.5s;
}

body #main .page-general .content2-catalog .content2-catalog-section:hover a .catalog-block-text .content2-catalog-text {
    color: #ffd000;
    transition: linear 0.5s;
}

body #main .page-general .content2-catalog .content2-catalog-section:hover a .catalog-block-img .content2-catalog-img {
    transform: scale(1.07);
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transition: linear 0.5s;
}


/*  */

body #main .page-general .handbook {
    width: 100%;
    padding: 30px 0px 20px 0px;
    min-height: 1px;
}

body #main .page-general .handbook .handbook-button-wrapper .handbook-description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 1px;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    justify-content: center;
}

body #main .page-general .handbook .handbook-button-wrapper .handbook-description .handbook-title {
    color: #222222;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    word-spacing: 5px;
    text-align: center;
    padding-top: 0px;
    border-bottom: 2px solid #45698b;
    position: relative;
}

body #main .page-general .handbook .handbook-button-wrapper .handbook-description .handbook-title:before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 2px solid #ffd000;
    position: absolute;
    left: 0;
}

body #main .page-general .handbook .handbook-button-wrapper .block-button {
    width: 100%;
    min-height: 1px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

body #main .page-general .handbook .handbook-button-wrapper .block-button .button-catalog-partslist {
    background-image: url("images/fon_parts_three.jpg");
    background-size: cover;
    background-size: 300px 70px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    display: block;
    color: #f5f6fa;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 0px;
    width: 300px;
    line-height: 20px;
    margin: 20px auto;
    padding: 12px 12px;
    text-align: center;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

body #main .page-general .handbook .handbook-button-wrapper .block-button .button-catalog-partslist:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

body #main .page-general .handbook .handbook-button-wrapper .block-button .button-catalog-partslist:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ffd000;
}

body #main .page-general .handbook .handbook-button-wrapper .block-button .button-catalog-partslist:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
}


/*  */

body #main .page-general .content4-description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    justify-content: center;
}

body #main .page-general .content4-description .content4-block-linear {
    height: 3px;
    width: 90%;
    background: #dcdde1;
    margin: 0px 0px 30px 0px;
}

body #main .page-general .content4-description .content4-description-title {
    color: #222222;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: center;
    padding-top: 0px;
    border-bottom: 3px solid #45698b;
    position: relative;
}

body #main .page-general .content4-description .content4-description-title:before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 3px solid #ffd000;
    position: absolute;
}

body #main .page-general .content4-description .content4-description-text {
    color: #222222;
    text-indent: 30px;
    padding: 20px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    margin: 0px 0px -15px 0px;
    padding-bottom: 40px;
    text-align: justify;
}

body #main .page-general .content5-partslist {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 260px;
    width: 100%;
    max-width: 1260px;
    justify-content: space-around;
    overflow: hidden;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper {
    height: 415px;
    max-width: 1220px;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section {
    margin: 5px 10px 20px 10px;
    height: 77px;
    width: 260px;
    background-image: url("images/fon_parts_one.jpg");
    background-size: cover;
    background-size: 260px 130px;
    text-align: center;
    box-shadow: 7px 7px #dddddd;
    overflow: hidden;
    transition: linear 0.5s;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section a {
    text-decoration: none;
    text-transform: uppercase;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section a .content5-brand-text {
    padding: 0;
    margin: 0;
    color: #f5f6fa;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 7px;
    transition: linear 0.5s;
    height: 37px;
    width: 100%;
    line-height: 37px;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section a .content5-block-star {
    width: 100%;
    height: 10px;
    line-height: 7px;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section a .content5-block-star .fa-star {
    padding: 0;
    margin: 0;
    color: #f5f6fa;
    -webkit-text-stroke: 1px #f5f6fa;
    font-size: 7px;
    transition: linear 0.5s;
    vertical-align: middle;
    display: inline-block;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section a .content5-partslist-text {
    color: #f5f6fa;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 5px;
    transition: linear 0.5s;
    height: 30px;
    width: 100%;
    line-height: 30px;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section:hover {
    background-size: 300px 130px;
    box-shadow: 1px 1px #c7c7c7;
    transition: linear 0.5s;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section:hover a .content5-brand-text {
    color: #ffd000;
    transition: linear 0.5s;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section:hover a .content5-block-star .fa-star {
    transition: linear 0.5s;
    color: #ffd000;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 7px;
}

body #main .page-general .content5-partslist .content5-partslist-wrapper .content5-partslist-section:hover a .content5-partslist-text {
    color: #ffd000;
    transition: linear 0.5s;
}


/*  */


/* кнопка (посмотреть все parts list)  код выше */


/*  */