@media (min-width: 540px) and (max-width: 760px) {
    body #main .page-general .content1-description .content1-description-title {
        font-size: 25px;
    }
    body #main .page-general .content1-description .content1-description-text {
        text-indent: 30px;
        padding: 20px 40px 20px 40px;
        font-size: 15px;
    }
    body #main .page-general .content3-button .button-catalog {
        font-size: 15px;
    }
    body #main .page-general .content4-description .content4-description-title {
        font-size: 25px;
    }
    body #main .page-general .content4-description .content4-description-text {
        text-indent: 30px;
        padding: 20px 40px 20px 40px;
        font-size: 15px;
    }
}

@media all and (max-width: 539px) {
    body #main .page-general .content1-description .content1-description-title {
        font-size: 23px;
    }
    body #main .page-general .content1-description .content1-description-text {
        text-indent: 0px;
        padding: 20px 15px 20px 15px;
        font-size: 13px;
        text-align: center;
    }
    body #main .page-general .content3-button .button-catalog {
        font-size: 13px;
    }
    body #main .page-general .content4-description .content4-description-title {
        font-size: 23px;
    }
    body #main .page-general .content4-description .content4-description-text {
        text-indent: 0px;
        padding: 20px 15px 20px 15px;
        font-size: 13px;
        text-align: center;
    }
}


/*  */

@media (min-width: 540px) and (max-width: 760px) {
    body #main .page-general .handbook .handbook-button-wrapper .handbook-description .handbook-title {
        font-size: 18px;
    }
    body #main .page-general .handbook .handbook-button-wrapper .block-button {
        display: flex;
        flex-direction: column;
        /* */
        justify-content: center;
        /* */
        align-items: center;
        /* */
    }
    body #main .page-general .handbook .handbook-button-wrapper .block-button .button-catalog-partslist {
        font-size: 15px;
        width: 275px;
        line-height: 17px;
    }
}

@media all and (max-width: 539px) {
    body #main .page-general .handbook .handbook-button-wrapper .handbook-description .handbook-title {
        font-size: 16px;
    }
    body #main .page-general .handbook .handbook-button-wrapper .block-button {
        display: flex;
        flex-direction: column;
        /* */
        justify-content: center;
        /* */
        align-items: center;
        /* */
    }
    body #main .page-general .handbook .handbook-button-wrapper .block-button .button-catalog-partslist {
        font-size: 13px;
        width: 250px;
        line-height: 15px;
    }
}


/*  */