body #main .page-catalog-pdf .content1-description {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    justify-content: center;
}

body #main .page-catalog-pdf .content1-description .content1-block-linear {
    height: 3px;
    width: 90%;
    background: #dcdde1;
    margin: 0px 0px 30px 0px;
}

body #main .page-catalog-pdf .content1-description .content1-description-title {
    color: #222222;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-align: center;
    padding-top: 0px;
    border-bottom: 3px solid #45698b;
    position: relative;
}

body #main .page-catalog-pdf .content1-description .content1-description-title::before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 3px solid #ffd000;
    position: absolute;
}

body #main .page-catalog-pdf .content1-description .content1-description-text {
    color: #222222;
    text-indent: 30px;
    padding: 20px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    margin: 0px 0px -15px 0px;
    padding-bottom: 40px;
    text-align: justify;
}

body #main .page-catalog-pdf .content2-catalog {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 740px;
    width: 100%;
    max-width: 1260px;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    overflow: hidden;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section {
    padding: 0;
    margin: 0;
    height: 324px;
    width: 195px;
    margin: 20px 15px 25px 15px;
    box-shadow: 7px 7px #dddddd;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section a {
    text-decoration: none;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section a .catalog-block-img {
    height: 295px;
    width: 195px;
    display: inline-block;
    overflow: hidden;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section a .catalog-block-img .content2-catalog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section a .catalog-block-text {
    height: 29px;
    width: 195px;
    background-image: url("../images/fon_parts_three.jpg");
    background-size: cover;
    margin-top: -4px;
    line-height: 29px;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section a .catalog-block-text .content2-catalog-text {
    text-align: center;
    color: #f5f6fa;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section:hover {
    box-shadow: 1px 1px #c7c7c7;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section:hover a .catalog-block-text .content2-catalog-text {
    color: #ffd000;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content2-catalog .content2-catalog-section:hover a .catalog-block-img .content2-catalog-img {
    transform: scale(1.07);
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content3-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    width: 100%;
    max-width: 1260px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

body #main .page-catalog-pdf .content3-list .content3-list-title {
    color: #314b62;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    word-spacing: 10px;
    text-align: center;
    margin-top: -10px;
    border-bottom: 1px solid #45698b;
    position: relative;
    margin-bottom: 20px;
}

body #main .page-catalog-pdf .content3-list .content3-list-title::before {
    content: "";
    width: 50%;
    height: 100%;
    border-bottom: 1px solid #ffd000;
    position: absolute;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper {
    height: 40px;
    width: 95%;
    margin-top: 3px;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a {
    text-decoration: none;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    padding: 0px 10px;
    background: #e3e4e8;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text {
    min-width: 1px;
    height: 40px;
    word-break: break-all;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text .content3-list-text {
    color: #45698b;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 3px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: linear 0.3s;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text .content3-list-text span {
    display: none;
    font-size: 17px;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-img {
    width: 40px;
    height: 40px;
    background-image: url(../images/40pdf.png);
    background-size: cover;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section:hover .list-block-img {
    margin-right: -10px;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section:hover {
    background: #5b8ab6;
    transition: linear 0.5s;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section:hover .list-block-text .content3-list-text {
    color: #f5f6fa;
    transition: linear 0.3s;
}

body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper .content3-block-overlapping {
    background: #f5f6fa;
    width: 100%;
    height: 100%;
}