@media (min-width: 540px) and (max-width: 727px) {
    body #main .page-catalog-pdf .content1-description .content1-description-title {
        font-size: 25px;
    }
    body #main .page-catalog-pdf .content1-description .content1-description-text {
        text-indent: 0px;
        padding: 20px 15px 20px 15px;
        font-size: 15px;
        text-align: center;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-title {
        font-size: 20px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper {
        height: 37px;
        width: 95%;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section {
        height: 37px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text {
        height: 37px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text .content3-list-text {
        font-size: 15px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text .content3-list-text span {
        display: inline-block;
        font-size: 15px;
        text-transform: lowercase;
        font-weight: 400;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-img {
        display: none;
    }
}

@media all and (max-width: 539px) {
    body #main .page-catalog-pdf .content1-description .content1-description-title {
        font-size: 23px;
    }
    body #main .page-catalog-pdf .content1-description .content1-description-text {
        text-indent: 0px;
        padding: 20px 15px 20px 15px;
        font-size: 13px;
        text-align: center;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-title {
        font-size: 18px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper {
        height: 37px;
        width: 95%;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section {
        height: 37px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text {
        height: 37px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text .content3-list-text {
        font-size: 13px;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-text .content3-list-text span {
        display: inline-block;
        font-size: 13px;
        text-transform: lowercase;
        font-weight: 400;
    }
    body #main .page-catalog-pdf .content3-list .content3-list-section-wrapper a .content3-list-section .list-block-img {
        display: none;
    }
}